:root {

    --text-primary: hsl(234deg 41% 41%);
    --font-primary:'Roboto';
    --btn-primary:linear-gradient(to left, hsl(318deg 100% 77%) 0%, hsl(263deg 85% 65%)100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    position: relative;
}

.main-div {
    width: 100%;
    height: 100vh;
    padding-inline: 7%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

nav img {
    width: 150px;
}

nav .nav-items {
    display: flex;
    gap: 30px;
}
nav .menuIcon
{
    display: none;
}

nav .nav-items h5.nav-item {
    font-family: var(--font-primary);
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 700;
}

button.signin-btn {
    background: var(--btn-primary);
    padding: 10px 30px;
    border-radius: 20px;
    color: #ffffff;
    border: none;
    font-weight: 700;
}

@media screen and (max-width:880px) {
    nav img
    {
        width: 80px;
    }

    nav .menuIcon
    {
        display: inline;
    }
    nav .nav-items
    {
        background: #fff;
        border-radius: 10px;
        padding: 20px;
        position: absolute;
        display: none;
        top: 5%;
        right: 7%;
        flex-direction: column;
        align-items: center;
    }

    .menuIcon:focus ~ .nav-items
    {
        display: flex;
    }
 
}
.intro-section
{
    margin-top: 100px;
}
.left-section
{
    color: var(--text-primary);
    font-family: var(--font-primary);
    min-width: 368px;
    width: 20vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 150px;  
}
.left-section h1
{
    font-size: 60px;
    word-wrap: normal;
}
.left-section h4
{
    font-size: 15px;
    font-weight: 200;
    text-align: start;
}
.learn-more-btn
{
    background: var(--btn-primary);
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 30px;
    border:none;
    border-radius: 20px;
}
.imgs-div
{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
}
img[alt="backcover"]
{
    position: absolute;
    top: -80%;
    right: 0%;
    width: 56vw;
    height: 200vh;
    z-index: -2;
}
img[alt="intro-img"]
{
    margin-bottom: -30%;
}
img.vector-dot
{
    position: absolute;
    top: 78%;
    right: 92%;
}

@media screen and (max-width:880px) {
    .imgs-div
    {
        display: none;
    }
}